/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn a,
.btn a:hover {
    color: white;
}

.border-table td {
    border: 1px solid #ddd;
}

.td-100{
  width:120px;
}

.td-150{
  width: 150px;
}

.td-250{
    width:250px;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.rich-text{
    width: 500px;
}

.percent-input{
    width: 100px;
}